.col-md-13{
    position: relative;
    width: 50%;
    min-height:1px;
  }
  
  .card-blue{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #00A3FF;
    background-clip: border-box;
  }
  .fs-2{
        font-size: 1.5rem !important;
  }